@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

div.changelog {
  max-height: 20vh;
  overflow-y: auto;
  width: 100%;
  font-weight: 200;
}
div.changelog ul {
  text-indent: 1.2em;
  list-style-type: circle;
  padding-left: 1em;
  margin-y: 0.4em;
}
div.changelog a {
  text-decoration: underline;
}
div.changelog h2 {
  font-size: 1.4em;
  font-weight: 700;
}
div.changelog h3 {
  font-weight: 400;
}
.loader {
	width: 15px;
	aspect-ratio: 1;
	border-radius: 50%;
	animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
	0% {
		box-shadow:
			20px 0 #000,
			-20px 0 #0002;
		background: #000;
	}
	33% {
		box-shadow:
			20px 0 #000,
			-20px 0 #0002;
		background: #0002;
	}
	66% {
		box-shadow:
			20px 0 #0002,
			-20px 0 #000;
		background: #0002;
	}
	100% {
		box-shadow:
			20px 0 #0002,
			-20px 0 #000;
		background: #000;
	}
}
