@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
  0% {
    box-shadow:
      20px 0 #000,
      -20px 0 #0002;
    background: #000;
  }
  33% {
    box-shadow:
      20px 0 #000,
      -20px 0 #0002;
    background: #0002;
  }
  66% {
    box-shadow:
      20px 0 #0002,
      -20px 0 #000;
    background: #0002;
  }
  100% {
    box-shadow:
      20px 0 #0002,
      -20px 0 #000;
    background: #000;
  }
}

/* Light & dark mode auto styles  */

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
  @apply text-light-content  transition-colors duration-200 dark:text-dark-content;
}

body {
  @apply bg-light-base text-light-content transition-colors duration-200 
    dark:bg-dark-base dark:text-dark-content;
}

a {
  @apply text-light-content underline  decoration-light-content-secondary/30 decoration-2 dark:text-dark-content dark:decoration-dark-content-secondary/30;
}
